@media (max-width: 767px) {
  .bis-control {
    position: static;
  }
}
.bis {
  display: inline-block;
  /*
  .control-group-name {
    display:inline-block;
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  hr {
    margin: 0 10px;
  }*/
}
@media (max-width: 767px) {
  .bis {
    width: 100%;
  }
}
.bis .sub-menu {
  width: 400px;
  margin-top: 12px;
  text-overflow: ellipsis;
}
@media (max-width: 767px) {
  .bis .sub-menu {
    width: 100%;
  }
}
.bis .sub-menu h4 {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
.bis .sub-menu li {
  padding: 5px 2px;
}
.bis form {
  padding-top: 5px;
  margin: 0;
}
.bis-form {
  padding: 20px;
}
.bis-message {
  padding: 20px 20px 0 20px;
}
